Repository onetimesecret/onetimesecret, pull requests merged in 2024-04, with the labels that each got.

#250 v0.11.1-RC1
  .prettierrc
  .trunk/.gitignore
  .trunk/configs/.hadolint.yaml
  .trunk/configs/.markdownlint.yaml
  .trunk/configs/.shellcheckrc
  .trunk/configs/.yamllint.yaml
  .trunk/trunk.yaml
  Gemfile
  Gemfile.lock
  README.md
  lib/onetime.rb
  lib/onetime/core_ext.rb
  lib/onetime/email.rb
  public/web/icons/favicon.ico
Labels: enhancement, release, documentation

#290 Add dep: Rubocop
  Gemfile
  Gemfile.lock
Labels: maintenance

#291 Comprehensive Update to Email Functionality (0.11.1-RC2)
  .env.example
  .gitignore
  .rubocop.yml
  Gemfile
  Gemfile.lock
  bin/smtp_test.rb
  lib/onetime.rb
  lib/onetime/email.rb
  lib/onetime/logic.rb
  pr_agent.toml
Labels: bug, enhancement, dependencies, documentation, tech debt, Other

#293 Introduction of Ruby 3.1+ Support and Pre-commit Configuration
  .pre-commit-config.yaml
  Dockerfile
  Gemfile
  Gemfile.lock
  README.md
  migrate/.keep
  migrate/2011-11-17-metadata.rb
  migrate/2011-12-03-pre-beta.rb
  migrate/2012-01-05-fix-cust-planid.rb
Labels: dependencies, security, ruby, documentation, tech debt

#294 Run linter across codebase
  .pre-commit-config.yaml
  bin/safeRun.sh
  etc/locale/sv_SE
  lib/onetime/app/web.rb
  lib/onetime/models/session.rb
  lib/onetime/models/splittest.rb
  lib/onetime/models/subdomain.rb
  public/web/404.html
  public/web/css/alertify.css
  public/web/etc/blueprint/ie.css
  public/web/etc/blueprint/plugins/buttons/screen.css
  public/web/etc/blueprint/plugins/fancy-type/readme.txt
  public/web/etc/blueprint/print.css
  public/web/etc/blueprint/screen.css
  public/web/etc/jquery-1.6.1.min.js
  public/web/etc/jquery-1.7.min.js
  public/web/etc/mustache.js
  public/web/etc/packer/base2.js
  public/web/etc/packer/packer.js
  public/web/etc/packer/words.js
  public/web/js/main.js
  public/web/js/passgen-template.js
  public/web/js/vendor/alertify.min.js
  public/web/js/vendor/bootstrap.js
  public/web/js/vendor/bootstrap.min.js
  public/web/js/vendor/cufon-yui.js
  public/web/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js
  public/web/js/vendor/officina.font.js
  public/web/libs/onetime-api.php
  public/web/maintenance.html
  public/web/robots.txt
  public/web/v3.html
  support/delete-old-secrets
  support/redis-info
  templates/colonel/footer.mustache
  templates/colonel/header.mustache
  templates/email/incoming_support.mustache
  templates/email/password_request.mustache
  templates/email/secret_link.mustache
  templates/web/footer.mustache
  templates/web/info/privacy.mustache
  templates/web/partial/create_incoming_form.mustache
  templates/web/partial/create_secret_form.mustache
  try/15_config_try.rb
  try/18_stathat_try.rb
  try/22_value_encryption_try.rb
  try/23_passphrase_try.rb
  try/35_ratelimit_try.rb
  try/50_subdomain_try.rb
Labels: ruby, documentation, tech debt, maintenance

#295 Added Python library for creating secret links
  templates/web/docs/api/libs.mustache
Labels: documentation, library, api

#298 Ruby 3 Support
  .env.example
  .pre-commit-config.yaml
  .rubocop.yml
  BUILD.yml
  Gemfile
  Gemfile.lock
  LICENSE.txt
  bin/ots
  config.ru
  etc/config.example
  lib/onetime.rb
  lib/onetime/app/web/views.rb
  lib/onetime/cli.rb
  lib/onetime/core_ext.rb
  lib/onetime/logic.rb
  public/web/css/main.css
  public/web/v3.html
  templates/colonel/footer.mustache
  templates/colonel/header.mustache
  templates/web/footer.mustache
  templates/web/header.mustache
  try/11_entropy_try.rb
  try/19_sendgrid_try.rb
  try/21_secret_try.rb
Labels: enhancement, dependencies, ruby, tech debt, maintenance, library, bug_fix, Review effort [1-5]: 4

#301 Add GitHub Actions workflow w/ Ruby matrix
  .github/workflows/ruby.yaml
Labels: Tests

#303 Fix UX issue for expired secrets (#276)
  lib/onetime/logic.rb
  templates/web/footer.mustache
  templates/web/unknown_secret.mustache
Labels: enhancement, ruby, ux, language

#304 Fix UX issue for expired secrets (Ruby 3 branch)
  lib/onetime/logic.rb
  templates/web/unknown_secret.mustache
Labels: enhancement, ux, language, ruby3, Review effort [1-5]: 3

#307 [EMAIL] Improve email sending reliability and security
  .gitignore
  lib/onetime/app/api/base.rb
  lib/onetime/app/helpers.rb
  lib/onetime/app/web.rb
  lib/onetime/email.rb
  lib/onetime/logic.rb
  lib/onetime/models.rb
  templates/email/incoming_support.mustache
  templates/email/password_request.mustache
  templates/email/secret_link.mustache
  templates/email/test_email.mustache
  templates/email/welcome.mustache
Labels: security, ruby, maintenance, ux, Bug fix, Review effort [1-5]: 3, ops

#308 Fix email not working issue
  .gitignore
  lib/onetime/app/api/base.rb
  lib/onetime/app/helpers.rb
  lib/onetime/app/web.rb
  lib/onetime/email.rb
  lib/onetime/logic.rb
  lib/onetime/models.rb
  templates/email/incoming_support.mustache
  templates/email/password_request.mustache
  templates/email/secret_link.mustache
  templates/email/test_email.mustache
  templates/email/welcome.mustache
Labels: bug, ruby, documentation, tech debt, maintenance, ux, ruby3, Bug fix, Review effort [1-5]: 3, ops

#311 Improve Ruby version compatibility in CI
  .github/workflows/ruby.yaml
  etc/config.example
  lib/onetime.rb
  try/config.test
Labels: enhancement, documentation, Review effort [1-5]: 3

#312 Update Docker and Docker Compose config
  .env.example
  Dockerfile
  Gemfile.lock
  bin/entrypoint.sh
  docker-compose.yml
  etc/config.example
Labels: bug, enhancement, security, maintenance, ux, ruby3, Review effort [1-5]: 3, ops

#279 bumped ruby base image to 3.3 bookworm
  Dockerfile
Labels: bug, ruby3

#315 Add Dockerhub instructions to README
  Dockerfile
  README.md
Labels: release, documentation, maintenance, ruby3, ops

#318 feat: adding docker-publish.yml github action
  .github/workflows/docker-publish.yml
Labels: security, documentation, maintenance, ops

#323 [#320] Improve docker support and developer experience
  .dockerignore
  .env.example
  Dockerfile
  Gemfile
  README.md
  bin/run.sh
  bin/safeRun.sh
  bin/smtp_test.rb
  config.ru
  etc/config.example
  lib/onetime.rb
  lib/onetime/app/api.rb
  lib/onetime/app/api/base.rb
  lib/onetime/app/helpers.rb
  lib/onetime/app/web/views.rb
  lib/onetime/cli.rb
  lib/onetime/email.rb
  lib/onetime/logic.rb
  lib/onetime/models.rb
  licenses/etherpad.txt
  templates/colonel/footer.mustache
  templates/web/footer.mustache
  templates/web/translations.mustache
  try/config.test
Labels: bug, dependencies, documentation, tech debt, ruby3, Bug fix, Review effort [1-5]: 3, dx
