Repository onetimesecret/onetimesecret, pull requests merged in 2025-02, with the labels that each got.

#1050 New Crowdin updates
  src/locales/da.json
  src/locales/de.json
  src/locales/fr.json
  src/locales/nl.json
Labels: Review effort [1-5]: 2

#1057 Implement Locale Validation and Repair Scripts
  .prettierrc
  crowdin.yml
  src/locales/README.md
  src/locales/utils/check-locale-file
  src/locales/utils/check-locale-files
  src/locales/utils/repair-locale-file
  src/locales/utils/repair-locale-files
  src/stores/languageStore.ts
Labels: Review effort [1-5]: 3

#1059 Add German (Austrian) locale support
  etc/config.example.yaml
  src/locales/ca_ES.json
  src/locales/de_AT.json
  src/locales/en.json
  tests/unit/ruby/config.test.yaml
Labels: Review effort [1-5]: 2

#1061 Add compact mode to LanguageToggle component
  src/components/DropdownToggle.vue
  src/components/LanguageToggle.vue
  src/components/ThemeToggle.vue
  src/components/dashboard/InstructionsModal.vue
  src/components/modals/SettingsModal.vue
  src/locales/en.json
  src/stores/languageStore.ts
  src/views/dashboard/DashboardDomainBrand.vue
  src/views/secrets/canonical/ShowSecret.vue
Labels: Review effort [1-5]: 2

#1064 Refine footer placement and improve secret view layout
  src/components/DomainsTable.vue
  src/components/base/BaseShowSecret.vue
  src/components/dashboard/DomainsTableDomainCell.vue
  src/components/layout/SecretFooterAttribution.vue
  src/components/layout/SecretFooterControls.vue
  src/components/secrets/SecretRecipientOnboardingContent.vue
  src/components/secrets/branded/SecretDisplayCase.vue
  src/components/secrets/canonical/BaseSecretDisplay.vue
  src/components/secrets/canonical/SecretDisplayCase.vue
  src/composables/useConfirmDialog.ts
  src/composables/useDomainsManager.ts
  src/locales/en.json
  src/views/dashboard/DashboardDomains.vue
  src/views/secrets/branded/ShowSecret.vue
  src/views/secrets/canonical/ShowSecret.vue
Labels: Review effort [1-5]: 4

#1065 Recover locale keys and fix middot replacements for the about page
  src/components/dashboard/SecretPreview.vue
  src/components/secrets/branded/SecretConfirmationForm.vue
  src/components/secrets/branded/SecretDisplayCase.vue
  src/components/secrets/canonical/SecretConfirmationForm.vue
  src/locales/en.json
  src/locales/utils/repair-locale-file
Labels: Review effort [1-5]: 2

#1077 Fix delivery tooltip hover zone
  src/components/layout/MastHead.vue
Labels: Review effort [1-5]: 1

#1078 Add compact locale toggle to main footer
  src/components/layout/DefaultFooter.vue
  src/components/layout/MastHead.vue
  src/components/layout/QuietFooter.vue
  src/locales/de_AT.json
  src/locales/en.json
Labels: Review effort [1-5]: 2

#1079 Update German (Austria) localization strings
  src/locales/de_AT.json
Labels: Review effort [1-5]: 1

#1080 Include LanguageToggle on branded homepage
  src/components/layout/QuietFooter.vue
Labels: Review effort [1-5]: 1

#1082 Improve Spanish translation
  src/locales/es.json
Labels: Review effort [1-5]: 1

#1087 Configure Independent Sentry DSNs for Frontend and Backend
  .env.example
  .github/workflows/Fly.io.yml
  Dockerfile
  Gemfile
  config.ru
  etc/config.example.yaml
  lib/onetime.rb
  lib/onetime/app/app_helpers.rb
  lib/onetime/app/web/views/base.rb
  lib/onetime/config.rb
  lib/onetime/version.rb
  package.json
  pnpm-lock.yaml
  src/composables/useAsyncHandler.ts
  src/plugins/core/appInitializer.ts
  src/plugins/core/enableDiagnotics.ts
  src/plugins/core/globalErrorBoundary.ts
  src/plugins/core/index.ts
  src/plugins/index.ts
  src/types/declarations/window.d.ts
  src/types/diagnostics.ts
  src/types/index.ts
  tests/unit/ruby/README.md
  tests/unit/ruby/config.test.yaml
  tests/unit/ruby/rspec/onetime/app/web/views/base_spec.rb
  tests/unit/ruby/rspec/onetime/config_spec.rb
  tests/unit/ruby/rspec/spec_helper.rb
  tests/unit/ruby/rspec/support/view_context.rb
Labels: Review effort [1-5]: 4

#1090 i18n: Manually updated existing strings
  src/locales/ar.json
  src/locales/bg.json
  src/locales/cs.json
  src/locales/da.json
  src/locales/de.json
  src/locales/fr.json
  src/locales/he.json
  src/locales/nl.json
  src/locales/pl.json
  src/locales/ru.json
  src/locales/tr.json
  src/locales/uk.json
  src/locales/vi.json
  src/locales/zh.json
Labels: Review effort [1-5]: 2

#1091 Add partial Japanese translation
  etc/config.example.yaml
  src/locales/jp.json
  tests/unit/ruby/config.test.yaml
Labels: Review effort [1-5]: 2

#1092 Organize translation keys and synchronize locale files
  src/components/layout/MastHead.vue
  src/locales/ar.json
  src/locales/bg.json
  src/locales/cs.json
  src/locales/da.json
  src/locales/de.json
  src/locales/de_AT.json
  src/locales/en.json
  src/locales/es.json
  src/locales/fr.json
  src/locales/he.json
  src/locales/hu.json
  src/locales/jp.json
  src/locales/layout_example.md
  src/locales/nl.json
  src/locales/pl.json
  src/locales/ru.json
  src/locales/tr.json
  src/locales/uk.json
  src/locales/vi.json
  src/locales/zh.json
  src/views/auth/PasswordResetRequest.vue
  src/views/auth/Signup.vue
Labels: Review effort [1-5]: 2

#1093 Enhance internationalization and accessibility features
  lib/onetime.rb
  src/components/DropdownToggle.vue
  src/components/FeedbackToggle.vue
  src/components/JurisdictionToggle.vue
  src/components/LanguageToggle.vue
  src/components/ThemeToggle.vue
  src/components/dashboard/SecretPreview.vue
  src/components/icons/CarbonSprites.vue
  src/components/icons/HeroiconsSprites.vue
  src/components/icons/PhosphorSprites.vue
  src/components/layout/DefaultFooter.vue
  src/components/layout/QuietFooter.vue
  src/components/modals/SettingsModal.vue
  src/composables/useLanguage.ts
  src/locales/de_AT.json
  src/locales/en.json
  src/schemas/i18n/locale.ts
  src/stores/languageStore.ts
Labels: Review effort [1-5]: 4

#1098 i18n: Update tagline translations for clarity (fr_CA, fr_FR, de_AT)
  src/components/FeedbackToggle.vue
  src/components/layout/MastHead.vue
  src/components/layout/QuietFooter.vue
  src/locales/de_AT.json
  src/locales/en.json
  src/locales/fr_CA.json
  src/locales/fr_FR.json
Labels: Review effort [1-5]: 1

#1108 fixed spelling
  src/locales/da.json
  src/locales/de.json
  src/locales/en.json
  src/locales/fr_CA.json
  src/locales/nl.json
  tests/integration/web/auth-signin-account.spec.ts
  tests/integration/web/auth-signup.spec.ts
Labels: Review effort [1-5]: 1
