Repository onetimesecret/onetimesecret, pull requests merged in 2025-01, with the labels that each got.

#935 Implement centralized Pinia plugin architecture for store initialization
  eslint.config.ts
  src/App.vue
  src/README.md
  src/components/secrets/form/SecretFormPrivacyOptions.vue
  src/composables/useErrorHandler.ts
  src/composables/useMetadata.ts
  src/layouts/BaseLayout.vue
  src/layouts/QuietLayout.vue
  src/main.ts
  src/plugins/core/errorHandler.ts
  src/plugins/pinia/apiPlugin.ts
  src/plugins/pinia/errorHandlingPlugin.ts
  src/plugins/pinia/index.ts
  src/plugins/pinia/initPlugin.ts
  src/plugins/pinia/logoutPlugin.ts
  src/plugins/pinia/types.ts
  src/router/README.md
  src/router/guards.routes.ts
  src/router/public.routes.ts
  src/services/README.md
  src/services/logging.ts
  src/services/window.ts
  src/stores/README.md
  src/stores/authStore.ts
  src/stores/languageStore.ts
  src/stores/windowStore.ts
  src/types/declarations/global.d.ts
  src/types/declarations/pinia.d.ts
  src/utils/color-utils.ts
  src/utils/debug.ts
  src/utils/index.ts
  src/views/account/AccountDomainBrand.vue
  tests/unit/vue/composables/useDomainBranding.spec.ts
  tests/unit/vue/composables/useDomainsManager.spec.ts
  tests/unit/vue/composables/useMetadata.spec.ts
  tests/unit/vue/fixtures/domainBranding.fixture.ts
  tests/unit/vue/fixtures/domainBranding.ts
  tests/unit/vue/fixtures/domains.fixture.ts
  tests/unit/vue/fixtures/metadata.fixture.spec.ts
  tests/unit/vue/fixtures/metadata.fixture.ts
  tests/unit/vue/fixtures/window.fixture.ts
  tests/unit/vue/fixtures/window.ts
  tests/unit/vue/stores/domainsStore.spec.ts
  tests/unit/vue/stores/metadataListStore.spec.ts
  tests/unit/vue/stores/metadataStore.spec.ts
  tests/unit/vue/stores/metadataStoreDateHandling.spec.ts
  tests/unit/vue/stores/secrets/secretsStoreFieldHandling.spec.ts
  tests/unit/vue/stores/secretsStore.spec.ts
  tests/unit/vue/stores/windowStore.spec.ts
  tests/unit/vue/utils/color-utils.spec.ts
  vite.config.ts
Labels: Review effort [1-5]: 4

#944 Migrate Pinia stores to factory pattern for improved dependency injection
  src/components/LanguageToggle.vue
  src/plugins/README.md
  src/plugins/core/appInitializer.ts
  src/plugins/pinia/apiPlugin.ts
  src/plugins/pinia/autoInitPlugin.ts
  src/plugins/pinia/index.ts
  src/plugins/pinia/logoutPlugin.ts
  src/plugins/pinia/types.ts
  src/stores/README.md
  src/stores/authStore.ts
  src/stores/brandStore.ts
  src/stores/colonelStore.ts
  src/stores/csrfStore.ts
  src/stores/customerStore.ts
  src/stores/domainsStore.ts
  src/stores/jurisdictionStore.ts
  src/stores/languageStore.ts
  src/stores/metadataListStore.ts
  src/stores/metadataStore.ts
  src/stores/notificationsStore.ts
  src/stores/secretStore.ts
  src/types/declarations/pinia.d.ts
  tests/unit/vue/setup.ts
  tests/unit/vue/stores/secretStore.spec.ts
  tests/unit/vue/stores/secrets/secretStoreFieldHandling.spec.ts
  tests/unit/vue/stores/storeExample.spec.ts
Labels: Review effort [1-5]: 4

#945 Add continue-on-error for type-check and test jobs, use GitHub SHA for commit hash
  .github/workflows/Fly.io.yml
  .github/workflows/vue.yml
Labels: Review effort [1-5]: 2

#955 Enhance type safety and fix brand settings issues
  lib/onetime/logic/domains/add_domain.rb
  lib/onetime/logic/domains/get_domain_brand.rb
  lib/onetime/logic/domains/update_domain_brand.rb
  lib/onetime/models/custom_domain.rb
  src/components/DomainVerificationInfo.vue
  src/components/DomainsTable.vue
  src/components/MinimalDropdownMenu.vue
  src/components/account/DomainBrandView.vue
  src/components/auth/AuthView.vue
  src/components/dashboard/BrandSettingsBar.vue
  src/components/dashboard/SecretPreview.vue
  src/components/icons/MdiSprites.vue
  src/components/layout/BrandedMastHead.vue
  src/components/modals/settings/GeneralTab.vue
  src/components/secrets/form/SecretContentInputArea.vue
  src/components/secrets/form/SecretFormPrivacyOptions.vue
  src/composables/useBranding.ts
  src/composables/useDomainDropdown.ts
  src/composables/useDomainStatus.ts
  src/composables/useDomainsManager.ts
  src/composables/useSecretConcealer.ts
  src/schemas/api/payloads/conceal.ts
  src/schemas/api/payloads/generate.ts
  src/stores/brandStore.ts
  src/stores/identityStore.ts
  src/views/auth/Signup.vue
  src/views/dashboard/DashboardDomainBrand.vue
  tsconfig.json
Labels: Review effort [1-5]: 4

#964 Upgrade secret metadata page
  docs/api/definition.json
  eslint.config.ts
  lib/onetime/logic/secrets/base_secret_action.rb
  lib/onetime/logic/secrets/burn_secret.rb
  lib/onetime/logic/secrets/show_metadata.rb
  lib/onetime/logic/secrets/show_secret.rb
  lib/onetime/models/metadata.rb
  lib/onetime/models/secret.rb
  src/components/CustomDomainPreview.vue
  src/components/base/BaseShowSecret.vue
  src/components/closet/MetadataSkeleton.vue
  src/components/closet/TableSkeleton.vue
  src/components/common/CycleButton.vue
  src/components/icons/HeroiconsSprites.vue
  src/components/icons/MaterialSymbolsSprites.vue
  src/components/icons/PhosphorSprites.vue
  src/components/icons/TablerSprites.vue
  src/components/modals/NeedHelpModal.vue
  src/components/modals/SettingsModal.vue
  src/components/secrets/form/SecretForm.vue
  src/components/secrets/metadata/BurnButtonForm.vue
  src/components/secrets/metadata/MetadataDisplayCase.vue
  src/components/secrets/metadata/MetadataFAQ.vue
  src/components/secrets/metadata/SecretLink.vue
  src/components/secrets/metadata/StatusBadge.vue
  src/components/secrets/metadata/TimelineDisplay.vue
  src/composables/useMetadata.ts
  src/composables/useSecretExpiration.ts
  src/locales/en.json
  src/router/secret.routes.ts
  src/schemas/models/metadata.ts
  src/utils/parse/date.ts
  src/utils/parse/time.ts
  src/utils/status.ts
  src/views/dashboard/DashboardDomains.vue
  src/views/dashboard/DashboardRecent.vue
  src/views/secrets/BurnSecret.vue
  src/views/secrets/ShowMetadata.vue
  src/views/secrets/UnknownMetadata.vue
  tailwind.config.ts
  templates/web/partial/session_messages.html
  tests/unit/vue/fixtures/metadata.fixture.ts
Labels: Review effort [1-5]: 4

#956 Updated da_DK.json to include missing translations from en.json
  src/locales/da_DK.json
Labels: Review effort [1-5]: 2

#970 Enhance development environment configuration and optimize server settings
  Gemfile
  Gemfile.lock
  README.md
  config.ru
  etc/config.example.yaml
  lib/middleware/detect_host.rb
  lib/onetime/middleware/domain_strategy.rb
  templates/web/partial/head.html
Labels: Review effort [1-5]: 3

#966 Upgrade Secret Form State Management and Enhance Validation
  .prettierignore
  .prettierrc
  Dockerfile
  lib/onetime/logic/secrets/show_metadata.rb
  lib/onetime/models/metadata.rb
  lib/onetime/models/secret.rb
  lib/onetime/utils.rb
  package.json
  pnpm-lock.yaml
  src/components/base/BaseShowSecret.vue
  src/components/closet/SecretSkeleton.vue
  src/components/secrets/branded/SecretConfirmationForm.vue
  src/components/secrets/branded/SecretDisplayCase.vue
  src/components/secrets/form/ConcealButton.vue
  src/components/secrets/form/GenerateButton.vue
  src/components/secrets/form/SecretForm.vue
  src/components/secrets/form/SecretFormPrivacyOptions.vue
  src/components/secrets/metadata/BurnButtonForm.vue
  src/components/secrets/metadata/SecretLink.vue
  src/components/secrets/metadata/TimelineDisplay.vue
  src/composables/useMetadata.ts
  src/composables/usePrivacyOptions.ts
  src/composables/useSecretConcealer.ts
  src/composables/useSecretForm.ts
  src/i18n.ts
  src/locales/en.json
  src/schemas/errors/classifier.ts
  src/schemas/errors/guards.ts
  src/schemas/models/customer.ts
  src/schemas/models/index.ts
  src/schemas/models/metadata.ts
  src/schemas/models/plan.ts
  src/schemas/models/public.ts
  src/schemas/transforms.ts
  src/stores/notificationsStore.ts
  src/stores/secretStore.ts
  src/utils/status.ts
  src/views/About.vue
  src/views/secrets/ShowMetadata.vue
  src/views/secrets/branded/ShowSecret.vue
Labels: Review effort [1-5]: 4

#971 Generate build file earlier and improve metadata handling
  .github/workflows/.docker-build-publish-reusable.yml
  Dockerfile
Labels: Review effort [1-5]: 2

#972 Consolidate OCI labels and deploy builds to Fly
  .github/workflows/.docker-build-publish-reusable.yml
  Dockerfile
  fly.toml
Labels: Review effort [1-5]: 2

#973 Correct OCI label generation
  .github/workflows/.docker-build-publish-reusable.yml
  Dockerfile
Labels: Review effort [1-5]: 2

#975 API v1 Refinements and Domain Strategy Cleanup
  lib/middleware/detect_host.rb
  lib/onetime/app/api/v1/endpoints.rb
  lib/onetime/app/web/views/base.rb
  lib/onetime/logic/secrets/reveal_secret.rb
  lib/onetime/logic/secrets/show_secret.rb
  lib/onetime/middleware/domain_strategy.rb
  lib/onetime/models/secret.rb
  src/components/layout/QuietHeader.vue
  src/router/metadata.routes.ts
  src/router/public.routes.ts
  src/stores/identityStore.ts
  src/views/HomepageContainer.vue
  tests/unit/ruby/try/19_safe_dump_try.rb
  tests/unit/ruby/try/42_web_template_vuepoint_try.rb
  tests/unit/ruby/try/60_logic/03_logic_secrets_try.rb
  tests/unit/ruby/try/60_logic/22_logic_secrets_show_secret_try.rb
  tests/unit/ruby/try/60_logic/23_logic_secrets_reveal_secret_try.rb
  tests/unit/ruby/try/90_routes_smoketest_try.rb
  tests/unit/ruby/try/91_authentication_routes_try.rb
Labels: Review effort [1-5]: 4

#977 Add support for multiple canonical domains and improve domain validation logic
  lib/middleware/detect_host.rb
  lib/onetime/app/web/views/base.rb
  lib/onetime/logic/secrets/base_secret_action.rb
  lib/onetime/middleware/domain_strategy.rb
  testing-jan16.md
  tests/unit/ruby/config.test.yaml
  tests/unit/ruby/try/50_middleware/20_domain_strategy_basics_try.rb
  tests/unit/ruby/try/50_middleware/20_domain_strategy_try.rb
  tests/unit/ruby/try/50_middleware/21_domain_strategy_multiple_canonical_try.rb
  tests/unit/ruby/try/50_middleware/22_domain_strategy_chooserator_try.rb
  tests/unit/ruby/try/90_routes_smoketest_try.rb
  tests/unit/ruby/try/91_authentication_routes_try.rb
Labels: Review effort [1-5]: 4

#978 Fix validation error on secret reveal and enhance domain strategy middleware documentation
  lib/onetime/middleware/domain_strategy.rb
  lib/onetime/models/secret.rb
Labels: Review effort [1-5]: 2

#979 Fix domain strategy chooser to use full hostname
  lib/onetime/logic/secrets/base_secret_action.rb
  lib/onetime/middleware/domain_strategy.rb
  src/components/secrets/branded/SecretConfirmationForm.vue
  src/components/secrets/canonical/SecretDisplayCase.vue
  src/composables/useAsyncHandler.ts
  src/composables/useDomainsManager.ts
  src/schemas/errors/classifier.ts
  src/views/secrets/branded/ShowSecret.vue
  tests/unit/ruby/try/50_middleware/20_domain_strategy_try.rb
  tests/unit/ruby/try/50_middleware/21_domain_strategy_multiple_canonical_try.rb
  tests/unit/ruby/try/50_middleware/22_domain_strategy_chooserator_try.rb
Labels: Review effort [1-5]: 3

#993 Fix: API call via cURL doesn't propagate TTL properly
  .gitignore
  Gemfile
  Gemfile.lock
  lib/onetime/alias.rb
  lib/onetime/logic/base.rb
  lib/onetime/logic/secrets/base_secret_action.rb
  lib/onetime/refinements/rack_refinements.rb
  tests/unit/ruby/rspec/onetime/logic/secrets/base_secret_action_spec.rb
  tests/unit/ruby/rspec/onetime/logic/secrets/show_secret_spec.rb
  tests/unit/ruby/rspec/onetime/refinements/rack_refinements_spec.rb
  tests/unit/ruby/rspec/spec_helper.rb
Labels: Review effort [1-5]: 4

#994 Add git to system dependencies in Dockerfile
  Dockerfile
Labels: Review effort [1-5]: 1

#992 Improve language store handling and brand admin UI error display
  src/components/LanguageToggle.vue
  src/utils/debug.ts
  src/views/dashboard/DashboardDomainBrand.vue
  src/views/pricing/PricingDual.vue
  testing-jan16.md
  tests/unit/ruby/config.test.yaml
Labels: Review effort [1-5]: 2

#995 Simplify help modal and enhance domain verification redirects
  src/components/modals/NeedHelpModal.vue
  src/composables/useBranding.ts
  src/composables/useDomainsManager.ts
  src/router/guards.routes.ts
  src/router/index.ts
  src/views/dashboard/DashboardDomainVerify.vue
  src/views/secrets/ShowMetadata.vue
Labels: Review effort [1-5]: 3

#997 Fix unexpected error on initial API call for retrieving one-time secrets
  lib/onetime/app/api/v1/endpoints.rb
  lib/onetime/logic/secrets/base_secret_action.rb
  lib/onetime/logic/secrets/old.rb
  lib/onetime/logic/secrets/reveal_secret.rb
  lib/onetime/logic/secrets/show_secret.rb
  lib/onetime/models/customer.rb
  tests/unit/ruby/rspec/onetime/app/api/v1/endpoints_spec.rb
  tests/unit/ruby/rspec/spec_helper.rb
  tests/unit/ruby/rspec/support/rack_context.rb
Labels: Review effort [1-5]: 4

#1004 Add pull request events to deployment workflow
  .github/workflows/Fly.io.yml
Labels: Review effort [1-5]: 1

#1001 Fix password reset flow and improve session handling
  etc/config.example.yaml
  lib/middleware/clear_session_messages.rb
  lib/middleware/detect_host.rb
  lib/onetime.rb
  lib/onetime/app/mail/base.rb
  lib/onetime/app/web/account.rb
  lib/onetime/app/web/app_base.rb
  lib/onetime/app/web/routes
  lib/onetime/app/web/views/base.rb
  lib/onetime/logic/account/create_account.rb
  lib/onetime/logic/authentication.rb
  lib/onetime/logic/base.rb
  lib/onetime/logic/secrets/reveal_secret.rb
  lib/onetime/models/custom_domain.rb
  lib/onetime/models/customer.rb
  lib/onetime/models/mixins/passphrase.rb
  lib/onetime/models/mixins/session_messages.rb
  src/components/StatusBar.vue
  src/components/secrets/canonical/SecretDisplayCase.vue
  src/stores/colonelStore.ts
  src/stores/notificationsStore.ts
  src/types/declarations/window.d.ts
  src/views/auth/PasswordReset.vue
  src/views/colonel/ColonelIndex.vue
  src/views/secrets/canonical/ShowSecret.vue
  templates/web/index.html
  templates/web/partial/session_messages.html
  tests/unit/vue/fixtures/window.fixture.ts
Labels: Review effort [1-5]: 4

#1005 Clean up rate limiting implementation by removing redundant Redis key
  lib/onetime/models/rate_limit.rb
  tests/unit/ruby/try/35_ratelimit_try.rb
Labels: Review effort [1-5]: 2

#1007 Add feedback email notifications for colonels
  lib/onetime/app/mail/views.rb
  lib/onetime/logic/feedback.rb
  src/components/FeedbackModalForm.vue
  src/components/icons/OIcon.vue
  src/components/modals/FeedbackModal.vue
  templates/mail/feedback_email.html
Labels: Review effort [1-5]: 3

#1008 Implement strict Content Security Policy (CSP) for enhanced security
  lib/onetime/app/app_helpers.rb
Labels: Review effort [1-5]: 2

#1009 Update pricing page layout and content
  .github/workflows/vue.yml
  .prettierrc
  pnpm-lock.yaml
  src/router/product.routes.ts
  src/sources/productTiers.ts
  src/views/pricing/Pricing.vue
  src/views/pricing/PricingDuo.vue
  src/views/pricing/PricingSolo.vue
  src/views/pricing/PricingTrio.vue
Labels: Review effort [1-5]: 4

#1010 Consolidate Vite assets for simpler CSP management
  lib/onetime/app/web/views/base.rb
  lib/onetime/app/web/views/view_helpers.rb
  lib/onetime/app/web/views/vite_helpers.rb
  vite.config.ts
Labels: Review effort [1-5]: 3

#1011 Update Ruby CI configuration to promote 3.4 and remove 2.7, 3.0
  .github/workflows/ruby.yml
  tests/unit/ruby/rspec/onetime/logic/secrets/base_secret_action_spec.rb
Labels: Review effort [1-5]: 2

#1013 Add Ruby support to Prettier configuration
  .prettierignore
  .prettierrc
  package.json
  pnpm-lock.yaml
Labels: Review effort [1-5]: 1

#1012 Pin syslog gem to version 0.2.0
  Gemfile
  Gemfile.lock
Labels: Review effort [1-5]: 1

#1016 Fix TrustedHTML Error in Feedback Modal and Optimize Build
  bin/entrypoint.sh
  lib/onetime/app/app_helpers.rb
  lib/onetime/app/web/account.rb
  package.json
  pnpm-lock.yaml
  src/components/AltchaChallenge.vue
  src/components/auth/AuthView.vue
  src/workers/altcha-worker.ts
  support/smtp_test
  vite.config.ts
Labels: Review effort [1-5]: 3

#1017 Add homepage toggle to domains list
  lib/onetime/app/api/v2/base.rb
  src/components/DomainVerificationInfo.vue
  src/components/DomainsTable.vue
  src/components/auth/AuthView.vue
  src/components/common/ToggleWithIcon.vue
  src/components/dashboard/DomainHeader.vue
  src/components/dashboard/DomainsTableRowActionDropdown.vue
  src/components/icons/OIcon.vue
  src/composables/useBranding.ts
  src/router/dashboard.routes.ts
  src/schemas/models/domain/brand.ts
  src/schemas/models/domain/index.ts
  src/schemas/models/domain/vhost.ts
  src/schemas/transforms.ts
  src/stores/brandStore.ts
  src/stores/identityStore.ts
  src/utils/parse/date.ts
  src/utils/parse/index.ts
  src/views/dashboard/DashboardDomainBrand.vue
Labels: Review effort [1-5]: 3

#1024 feat(redis): Allow redis dbs to be defined from env vars
  etc/config.example.yaml
Labels: Review effort [1-5]: 2

#1026 [#ISSUE-1025] Update PR settings
  .github/workflows/.docker-build-publish-reusable.yml
  .github/workflows/Fly.io.yml
  .github/workflows/docker-publish.yml
Labels: Review effort [1-5]: 2

#1028 Separate ThemeToggle functionality into composable
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  src/components/ThemeToggle.vue
  src/composables/useMetadata.ts
  src/composables/useTheme.ts
  src/router/secret.routes.ts
  src/schemas/errors/types.ts
  src/services/window.service.ts
  tests/unit/vue/components/ThemeToggle.spec.ts
  tests/unit/vue/composables/useMetadata.spec.ts
  tests/unit/vue/composables/useTheme.spec.ts
  tests/unit/vue/fixtures/domains.fixture.ts
  tests/unit/vue/fixtures/metadata.fixture.ts
  tests/unit/vue/fixtures/window.fixture.ts
  tests/unit/vue/setup.ts
  tests/unit/vue/setupRouter.ts
  tests/unit/vue/setupWindow.ts
  tsconfig.json
  vitest.config.ts
Labels: Review effort [1-5]: 2

#1031 remove an out-of-place line in the readme and unrelated software link in the table
  README.md
Labels: Review effort [1-5]: 1

#1032 Add region badge to masthead
  src/components/layout/MastHead.vue
  src/components/layout/QuietHeader.vue
  src/components/secrets/metadata/BurnButtonForm.vue
Labels: Review effort [1-5]: 2

#1036 [#2025-01] Catch up Postman Collection with API definition
  docs/api/collections/Onetime Secret - API Definition.json
Labels: Review effort [1-5]: 2

#1038 Reorganize and Enhance API Definition Structure
  docs/api/collections/Onetime Secret - API Definition.json
  docs/api/definition.json
Labels: Review effort [1-5]: 4

#1039 Fix TTL limit discrepancies between API and UI
  lib/onetime/config.rb
  src/components/account/APIKeyCard.vue
  src/schemas/models/public.ts
Labels: Review effort [1-5]: 2

#1040 Delivery fine-print and version bump to v0.19.1
  package.json
  src/components/layout/MastHead.vue
Labels: Review effort [1-5]: 1

#1041 Fix environment variable handling for FROM/FROM_EMAIL
  .env.example
  etc/config.example.yaml
  tests/unit/ruby/config.test.yaml
Labels: Review effort [1-5]: 1

#1043 Fix Dockerfile build to include git and update psych library dependencies
  Dockerfile
  package.json
Labels: Review effort [1-5]: 1

#1042 Remove conditional check for main repository in Docker build workflow
  .github/workflows/.docker-build-publish-reusable.yml
  .github/workflows/Fly.io.yml
Labels: Review effort [1-5]: 1
